 swiper-container {
      width: 100%;
      height: 100%;
    }

    swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .swback1{
        background: url('../img/img_1.jpg') center/cover;
        height: 100vh;
        width: 100%;
        
    }
    .swback2{
        background: url('../img/img_2.jpg') center/cover;
        height: 100vh;
        width: 100%;
    }
     .swback3{
        background: url('../img/img_3.jpg') center/cover;
        height: 100vh;
        width: 100%;
    }
     .swback4{
        background: url('../img/img_4.jpg') center/cover;
        height: 100vh;
        width: 100%;
        
    }
     .swback5{
        background: url('../img/img_5.jpg') center/cover;
        height: 100vh;
        width: 100%;
    }
     .swback6{
        background: url('../img/img_6.jpg') center/cover;
        height: 100vh;
        width: 100%;
    }
     .swback7{
        background: url('../img/img_7.jpg') center/cover;
        height: 100vh;
        width: 100%;
    }
     .swback8{
        background: url('../img/img_8.jpg') center/cover;
        height: 100vh;
        width: 100%;
    }
   .popular::-webkit-scrollbar {
    display: none;
}

.customer::-webkit-scrollbar {
    display: none;
}
.under:hover{
    text-decoration: none;
}